In [4]:
from binance.client import Client
import pandas as pd

binance_client = Client()

In [5]:
def get_data(symbol, start):
    frame = pd.DataFrame(binance_client.get_historical_klines(symbol, Client.KLINE_INTERVAL_5MINUTE, start))
    frame = frame.iloc[:, 0:6]
    frame.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
    frame.set_index('Date', inplace=True)
    frame.index = pd.to_datetime(frame.index, unit='ms')
    frame = frame.astype(float)
    
    return frame

In [6]:
get_data('BTCUSDT', '2022, 10, 1')

                         Open      High       Low     Close     Volume
Date
2022-10-01 00:00:00  19422.61  19426.17  19407.00  19425.54  843.40509
2022-10-01 00:05:00  19426.15  19461.03  19419.80  19441.78  922.13600
2022-10-01 00:10:00  19441.78  19466.98  19434.80  19459.44  660.40867
2022-10-01 00:15:00  19460.16  19472.37  19448.29  19472.37  582.58256
2022-10-01 00:20:00  19471.52  19484.00  19462.65  19466.47  567.97961
...                       ...       ...       ...       ...        ...
2022-11-19 06:45:00  16598.94  16607.48  16594.03  16603.13  304.37537
2022-11-19 06:50:00  16602.64  16610.00  16598.93  16605.51  233.85234
2022-11-19 06:55:00  16605.50  16612.86  16604.48  16609.44  308.18971
2022-11-19 07:00:00  16609.44  16610.19  16603.62  16609.12  255.05381
2022-11-19 07:05:00  16608.58  16609.69  16608.19  16608.74    6.70771

[14198 rows x 5 columns]